
/*-------section1----*/
.frase{
    background:url("../img/Laboratoria.jpg");
    width: 100%;
	min-height:641px;
background-size:130% 100%;
	background-attachment:fixed;
    
}
.frase h2{
    font-size: 28px;
}
.chicas{
    text-align: center;
    margin: 180px;
}
.chicas h2{
    color: white;
}
.chicas button{
    padding: 8px 20px;
    background:rgb(51,122,185);
    border-radius: 6px;
    color: white;
}
/*-------section2------*/
.documental{
    padding: 6% 0%;
}
.documental h3{
    text-align: center;
    font-size: 30px;
}
.documental h4{
    text-align: center;
}
/*-----section3-----*/
.hackathon{
    background: #ffff00;
    padding:  0 0 40px;
}

.reuniones{
    margin: 50px auto;
}
.participa{
    margin:30px auto;
}
.participa h4{
    text-align: center;
    font-size: 20px;
}
.participa button{
    background:rgb(51,122,185);
    padding:8px 20px;
    border-radius: 6px;
    color: white;
}
/*------section4-------*/
.contacto h5{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

.mensaje{
    position: relative;
    height: 130px;
    
}
.laptop img{
   margin: 40px auto;
}

.contacto button{
    padding: 5px 30px;
    background:rgb(51,122,185);
    color: white;
    margin: 20px;
}
/*-------footer-----*/
.footer{
    background: #4497a3;
    padding: 24px;
}
.footer h6{
    font-size: 15px;
    color: white;
}
.footer a{
    color:#ffff05;
}

/*-----responsive-------*/
@media screen and (max-width: 768px){
    .frase h2{
        width: 100%;
    }
}